@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #53629E;
  --color-secondary: #FCB53B;
  --color-base-100: #FFFFFF;
  --color-base-200: #EFE9E3;
  --color-base-200: #D9CFC7;
  --color-accent: #57564F;
}


body {
  font-family: 'Poppins', sans-serif;
}

.hero-slider .swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 0.5 !important;
}

.hero-slider .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

